<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python FastAPI is light weight</title>
  </head>
  <body>
    <h3>Hi, I love python</h3>
    <p>
      Python is a programming language that lets you work quickly and integrate
      systems more effectively.
    </p>
    <button>About</button>
  </body>

  <script>
    const button = document.querySelector("button");
    button.addEventListener("click", () => {
      location.href = "/about";
    });
  </script>
</html>
